.acceuil
	{
		background-color: #f1f3f2;
		font-family: arial narrow
	}

.header
	{
		background-image:url("../banner1.jpg");
		background-repeat: no-repeat;
		background-size:cover;
	}

/*.fond
	{
		background-image:url("../banner1.jpg");
		background-repeat: no-repeat;
		background-size:cover;
	}*/

.v
	{
		width: 85%;
		margin-top: 150px;	
	}

.pan
	{
		background-color:#f1f3f263; 
		font-family:arial narrow;
		margin-top: 50px;
	}

.pan_head
	{
		border-bottom:1px solid white;
		text-align: center;

	}

.pan_titre
	{
		color:#3595ce;
		text-align:center;			
	}

.pan_p
	{
		color: ;		
	}

.label_form
	{
		color:red;		
	}

.img-logo
	{
		width:100%;
		margin-left: 30px;
	}

.slogan
	{
		float: left;
		font-family: arial narrow;
		margin-top: 20px;

	}

.slogan1
	{
		color: #3595ce;
	}

.slogan2
	{
		color: #3595ce;
	}

.menu
	{
		font-family: arial narrow;
		font-size: 15px;
		text-align: center;
		margin-top: 16px;
	}


#pp
	{
		width:100%;
		height:90px;	
	}

.div_pp
	{
		height:100px; 
		width:200px; 
		margin-left:15px; 
		margin-top:10px;	
	}

.error
	{
		color: #FF0000;	
	}

.pan
	{
		
	}



.corps{
	font-family: 'Catamaran', sans-serif;
	color: white;
	/*background-image: url(../image/5.JPG);*/
	background-repeat: no-repeat;
	background-size: 100% 120%;
	
	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}


/*fin entete*/

.form1{
	margin-top: 75px;
	/*border:2px solid black;*/
	background-color: #f1f3f2;
	/*border-top-left-radius: 50%;*/
	/*border-bottom-left-radius: 50%;*/
	opacity: 0.7;
}
.form2{
	margin-top: 50px;
}
.form3{
	margin-top: 50px;
}
.rad{
	margin-left: 230px!important;
}
h3{
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
}
.inpt1, .inpt2, .inpt3, .inpt4, .inpt5{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color:transparent!important;
	/*border-top: hidden!important;

	border-left: hidden!important;

	border-right: hidden!important; */
}

.inpt7{

	background-color: transparent;
}
.sel1, .sel2{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color: transparent;
}
.btn{
	background:rgb(119 84 201) ;
	outline: none;
	border:none;
	cursor: pointer;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 6px ;
}
.btn:active{
	box-shadow: 0 0 rgb(119 84 201);
	top:6px;
}

#pp{
	margin-top: 10px; 
	margin-bottom: 10px;
	height: 120px; 
	width: 120px; 
	border-radius: 50px;
}

table{
	color: black!important;
}
@media screen and (max-width: 768px){
	.form1{
	margin-top: -40px;
	
	height: 1000px!important;
	opacity: 0.75;
	}
.corps{
	
	
	background-repeat: no-repeat;
	background-size:cover;
	
}
}
@media screen and (max-width: 1024px){
	.form1{
	margin-top: -40px;
	
	height: 1000px!important;
	opacity: 0.75;
	}
}

input:invalid+span:after {
  content: '✖';
  color: red;
  padding-left: 5px;

}

input:valid+span:after {
  content: '✓';
  color: green;
  padding-left: 5px;
  font-weight: bolder;
}











.footer
	{
		background-color: #f1f3f2;
		font-family: arial narrow;	
	}

.bloc
	{
		margin-top: 20px;	
	}

.blocf
	{
		text-align: center;
		font-size: 20px;
		font-style: bold;
		color: #3595ce;	
	}

.bloc1
	{
		margin-left: 90px;	
		margin-top: 10px;
	}

.bloc4
	{
		margin-left: 80px;
	}

.bf
	{
		margin-top: 10px;
	}

.p-footer
	{
		color: #3595ce;	
	}

.facebook
	{
		color: blue;
	}

.twitter
	{
		color: #93f3f3;	
	}

.linkedin
	{
		color: blue;	
	}

.whatsapp
	{
		color: #43a543;	
	}

.icon
	{
		color: #3595ce;	
	}

.row2
	{
		text-align: center;
		margin-top: 30px;
		list-style: none;	
	}

@media screen and (min-width:768px) and (max-width:992px){
  .gh{
    display:none !important;
  }